<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <img src="https://totidiversidade.com.br/assets/img/icon_logo_toti.202d2564.svg" alt="Banner da Toti" width="200px" height="100px">
    <h1>Produtos</h1>
    <h2>Objetos</h2>
    <ul>
        <li>Notebook</li>
        <li>Roteador de Internet Ativo</li>
        <li>Mesa</li>
        <li>Cadeira</li>
        <li>Suporte para notebook</li>
        <li>Monitor Secundário</li>
        <li>Fone de ouvido</li>
        <li>Cafeteira</li>
    </ul>
    <h2>Tecnologias</h2>

    <ul>
        <li>Gerenciamento de Projetos</li>
        <li>Git e Github</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Testes</li>
        <li>MongoDB</li>
        <li>SQLite</li>
        <li>API Rest</li>
    </ul>

    <h3>Node.js</h3>
    <ul>
        <li>NPM</li>
        <li>Express</li>
        <li>Nodemon</li>
        <li>EJS</li>
    </ul>
</body>
</html>