<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Página Inicial</h1>
    <h2>Turma 17</h2>
    <h3>Professora: Hilary</h3>
    <h3>Orientador: Jorge</h3>
    <img src="https://totidiversidade.com.br/assets/img/icon_logo_toti.202d2564.svg" alt="Banner da Toti" width="200px" height="100px">
    <h3><%= name %> é uma pessoa pontual. </h3>
    <h3>Foi a <%= id %> a chegar! </h3>
    <ul>
        <li>Afonso</li>
        <li>Anyela</li>
        <li>Dari</li>
        <li>Daniel</li>
        <li>Giselle</li>
        <li>Karen</li>
        <li>Karina</li>
        <li>Luis A.</li>
        <li>Luis R.</li>
        <li>Maralied</li>
        <li>Maria</li>
        <li>Maribel</li>
        <li>Marioxis</li>
        <li>Melissa</li>
        <li>Oscar</li>
        <li>Pierre</li>
        <li>Rebeca</li>
        <li>Rosanny</li>
        <li>Victor</li>
    </ul>
</body>
</html>